In [2]:
import pandas as pd
import numpy as np

**Bora praticar!**
  
1) Utilizando o DataFrame importado anteriormente (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [8]:
alunos3 = pd.read_csv(r'alunos3.csv', sep=';')
alunos3.head()

       RA             Nome  Frequencia Prova_1 Prova_2 Prova_3  Prova_4
0  110201   Antonio Carlos          20     6,5     8,5     7,0        6
1  110212      Ana Beatriz          20     7,0     7,0     7,0        8
2  110218    Carlos Vernes          17     7,0     7,0     7,0        7
3  110307  Francisco Cunha          20     9,0     8,5     8,5       10
4  110275      Sandra Rosa          15     6,5     7,5     7,0        7

In [11]:
alunos3['media_provas'] = alunos3[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']].mean(axis=1)

TypeError: 'axis' is an invalid keyword argument for sum()

2) Quem foram os alunos que obtiveram a maior e a menor média

3) Agora una este dataframe com o cadastro_alunos.xlsx

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?