In [2]:
import pandas as pd
import numpy as np

**Bora praticar!**
  
1) Utilizando o DataFrame importado anteriormente (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [16]:
alunos3 = pd.read_csv(r'alunos3.csv', sep=';', decimal=',')
alunos3.head()

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7

In [17]:
alunos3['media_provas'] = alunos3[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']].mean(axis=1)

In [18]:
alunos3.head()

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.00
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.25
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.00
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.00
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.00

2) Quem foram os alunos que obtiveram a maior e a menor média

In [24]:
print(alunos3['Nome'].loc[alunos3['media_provas'].idxmax()])
print(alunos3['Nome'].loc[alunos3['media_provas'].idxmin()])

José Valente
Joao Galo

3) Agora una este dataframe com o cadastro_alunos.xlsx

In [ ]:
cadastro_alunos = pd.read_excel('cadastro_alunos.xlsx')
df_escola = alunos3.merge(cadastro_alunos, how='left')
df_escola

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [ ]:
df_masc = df_escola [df_escola['Sexo'] == 'Masculino']
df_fem = df_escola [df_escola['Sexo'] == 'Feminino']

media_masc = df_masc['Media_provas'].mean()
media_fem = df_fem['Media_provas'].mean()

print (f'A média dos alunos é {media_masc} e das alunas {media_fem}')

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [ ]:
idade_media_maior_7 = df_escola[df_escola['Media_provas'] >= 7]['Idade'].mean()
idade_media_maior_7

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [ ]:
print(df_escola['Nome'].loc[df_escola['media_provas'].idxmax()])