# Pandas DataFrame exercises

In [74]:
import numpy as np

import pandas as pd

--------
## DataFrame creation

### Crie um DataFrame Vazio

In [75]:
df = pd.DataFrame()
df.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: []
Index: []>

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>


###Crie um  `marvel_df` com os dados abaixo

In [76]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [77]:
marvel_df = pd.DataFrame(marvel_data, columns=['nome', 'genero', 'first_appearance'])
marvel_df.head(1)

         nome genero  first_appearance
0  Spider-Man   male              1962


### Adicione a coluna nomes ao DF

#
## Adicione o index `marvel_df` (use o nome dos personagens como index)

In [78]:
marvel_df = marvel_df.set_index('nome')
marvel_df.head()

                genero  first_appearance
nome
Spider-Man        male              1962
Captain America   male              1941
Wolverine         male              1974
Iron Man          male              1963
Thor              male              1963

### Drop a coluna nome visto que agora ela é o index


### Drop Namor e Hank Pyn

In [79]:
marvel_df.loc[~marvel_df.index.isin(['Namor', 'Hank Pym'])]

                  genero  first_appearance
nome
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968


## DataFrame selection, slicing and indexation

### Mostre os primeiros 5 elementos do dataframe

In [80]:
marvel_df.head(5)

                genero  first_appearance
nome
Spider-Man        male              1962
Captain America   male              1941
Wolverine         male              1974
Iron Man          male              1963
Thor              male              1963


### Mostre os 4 últimos elementos do dataframe

In [81]:
marvel_df.tail(4)

               genero  first_appearance
nome
Scarlet Witch  female              1964
Wasp           female              1963
Black Widow    female              1964
Vision           male              1968


### Mostre somente o sexto dos 5 primeiros elementos do DF `marvel_df`

In [82]:
marvel_df.iloc[5,:]

genero              male
first_appearance    1961
Name: Thing, dtype: object


### Mostre a primeira aparição dos elementos do meio `marvel_df`

In [83]:
marvel_df.iloc[marvel_df.shape[0]//2,:]

genero              female
first_appearance      1975
Name: Storm, dtype: object

### Mostre os primeiros e últimos elementos `marvel_df`

In [84]:
print(marvel_df.iloc[0,:])
print()
print(marvel_df.iloc[marvel_df.shape[0]-1,:])

genero              male
first_appearance    1962
Name: Spider-Man, dtype: object

genero              male
first_appearance    1968
Name: Vision, dtype: object

## DataFrame manipulação e operação

### Modifique a  `first_appearance` do 'Vision' para o ano 1964

In [85]:
marvel_df.loc[marvel_df.index == 'Vision', 'first_appearance'] = 1964
marvel_df

                  genero  first_appearance
nome
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1964


### Adicione uma nova coluna para o dataframe  `marvel_df` chamada   'years_since' com os anos desde  `first_appearance`

In [86]:
marvel_df['years_since'] = marvel_df['first_appearance']
marvel_df.head(1)

           genero  first_appearance  years_since
nome
Spider-Man   male              1962         1962


## DataFrame boolean arrays

### Dê ao  `marvel_df` mostrando somente os personagens femininos

In [87]:
marvel_df[marvel_df['genero'] == 'female']

                 genero  first_appearance  years_since
nome
Invisible Woman  female              1961         1961
Storm            female              1975         1975
Scarlet Witch    female              1964         1964
Wasp             female              1963         1963
Black Widow      female              1964         1964


### Given the `marvel_df` pandas DataFrame, get the male characters

In [88]:
marvel_df[marvel_df['genero'] == 'male']

                 genero  first_appearance  years_since
nome
Spider-Man         male              1962         1962
Captain America    male              1941         1941
Wolverine          male              1974         1974
Iron Man           male              1963         1963
Thor               male              1963         1963
Thing              male              1961         1961
Mister Fantastic   male              1961         1961
Hulk               male              1962         1962
Beast              male              1963         1963
Namor              male              1939         1939
Hawkeye            male              1964         1964
Daredevil          male              1964         1964
Doctor Strange     male              1963         1963
Hank Pym           male              1962         1962
Vision             male              1964         1964


### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [89]:
marvel_df[marvel_df['first_appearance'] > 1970]

           genero  first_appearance  years_since
nome
Wolverine    male              1974         1974
Storm      female              1975         1975


### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [92]:
marvel_df[(marvel_df['first_appearance'] > 1970) & (marvel_df['genero'] == 'female')]

       genero  first_appearance  years_since
nome
Storm  female              1975         1975

## DataFrame summary statistics